<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>Ebook</title>
        <link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}" />
    </head>

    <body>
    	<div id="page">
    		<div id="navbar">
    			<h1>EVENTBOOK</h1>
                <img src="{% static 'events/images/yaleicon.jpeg' %}" width="25" height="25"/>
    			<ul>
    				<li><a href="/">Home</a> |</li>
    				<li>About</li>
    			</ul>
	    	</div>
	        {% block content %}{% endblock %}
    	</div>
    	
    </body>
</html>