{% extends 'events/base.html' %}

{% block content %}
<h1>{{ group.name }}</h1>

<h3>Events:</h3>
<ul>
	{% for event in group.event_set.all %}
		<li><a href="{% url 'events:eventdetail' event.id%}">{{event.title}}</a></li>
	{% endfor %}
</ul>

{% if error_message %}<p><em>{{ error_message }}</em></p>{% endif%}
<form id="newgroupform" action="{% url 'events:newevent' group.id %}" method="post">
	{% csrf_token %}
	Title: <input type="text" name="title"><br/>
	Location: <input type="text" name="location"><br/>
	Description:<br/> <textarea name="description" form="newgroupform" rows=20 cols=50></textarea><br/>
	<input type="submit" value="Submit" />

</form>

<a href="{% url 'events:index' %}">Home</a>
{% endblock %}